
@keyframes rota {
  0%   { transform: rotate(0deg); 
    transform-origin: right center}
  100% { transform: rotate(360deg); 
    transform-origin: right center;}
}

@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}

@keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 250px;
  height: 250px;
  position: relative;
  background: white;
}

.pie {
  width: 50%;
  height: 100%;
  position: absolute;
  border: 1px red rgba(0,0,0,.4);
}

.spinner {
  z-index: 200;
  border-radius: 125px 0 0 125px;
  border-right: none;
  background: #bfc;
  animation: rota 10s linear infinite;
}

/* .spinner:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
} */

.filler {
  border-radius: 0 125px 125px 0;
  z-index: 100;
  border-left: none;
  animation: fill 10s steps(1, end) infinite;
  left: 50%;
  opacity: 0;
  background: #bfc;
}

.mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 300;
  opacity: 1;
  background: inherit;
  animation: mask 10s steps(1, end) infinite;
}
